<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{asset("css/box.css")}}">
    <script src="{{asset("js/jquery.min.js")}}"></script>

	<link rel="stylesheet" href="{{asset("font-awesome/css/font-awesome.min.css")}}">
</head>
<body>
<script type="text/javascript">
function sendToParent(file_path) {
    window.opener.InsertHTML(file_path);
}

	$(document).ready(function () {
			$("#form_file").change(function(){
			    	readURL(this,"#img-preview");

			});
			function readURL(input,pr) {
			    if (input.files && input.files[0]) {
			    var countFiles = input.files.length;
			     var imgPath = input.value;
			     var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();

			     if (extn == "png" || extn == "jpg" || extn == "jpeg") {
			        var reader = new FileReader();
			        reader.onload = function (e) {
			            $(pr).attr('src', e.target.result);
			        }
			        reader.readAsDataURL(input.files[0]);
			      }else{
			          alert("the image file is not valid please select a valid image file : png,jpg or jpeg");
			      }
			    }
			}


		});
</script>
{% block body %}
    
{% endblock %}
</body>
</html>